.statistics-content {
    margin-top: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    .card {
        width: 300px !important;
        .card-subtitle {
            text-align: justify;
        }
        .film-info {
            margin-top: 20px;
        }
    }
}