<div class="statistics-content">
    <div *ngIf="!swService.loadingFilms" class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/card-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <div>
                <h5 class="card-title">Filmes da saga</h5>
                <h6 class="card-subtitle mb-2 text-muted">O objetivo deste card é verificar quantos personagens participaram em cada filme da saga, para que possamos descobrir qual foi a produção que envolveu o maior número de personagens até agora.</h6>
            </div>
            <div class="film-info" *ngFor="let stat of swService.films">
                <h5>{{stat.title}}</h5>
                <h6 class="text-muted">{{stat.characters.length}} participantes</h6>
            </div>
        </div>
    </div>
    <div *ngIf="swService.loadingFilms">
        <h2 class="character-loading">Carregando dados...</h2>
    </div>
</div>