<div class="home-content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets//images/card-home.jpg" alt="Card image cap">
        <div class="card-body"> 
            <h5 class="card-title">Bem-vindo ao aplicativo Star Wars Client!</h5>
            <p class="card-text">Vamos acessar uma API sobre a saga Star Wars e extrair informações sobre os personagens e os filmes da saga. Use a barra de navegação no topo da tela para navegar entre as tarefas ou voltar para a página inicial.</p>
            <a href="https://swapi.co/" target="_blank" class="btn btn-primary">
                <span class="fas fa-jedi"></span>
                <span class="btn-text d-none d-sm-inline-block">Explore a API</span>
            </a>
        </div>
    </div>    
</div>