<div class="statistics-content">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Filmes da saga</h5>
            <h6 class="card-subtitle mb-2 text-muted">Número de participantes</h6>
            <p class="card-t1ext">O objetivo deste card é verificar quantos personagens participaram em filme da saga, para que possamos descobrir qual foi a produção que envolveu o maior número de personagens até agora.</p>
            <div>
                <h2>E o Vento Levou</h2>
                <p>7 participantes</p>
            </div>
        </div>
    </div>
</div>