<div class="custom-nav">
    <div class="row">
        <div class="col col-5">
            <div class="brand-content">
                <!-- <a class="navbar-brand" routerLink="/"> -->
                <img width="100" alt="Star Wars Logo" src="../assets/images/star-wars.png">
                <!-- </a> -->
            </div>
        </div>
        <div class="col col-7">
            <div class="btn-content">
                <button class="btn btn-secondary btn-characters" routerLink="/characters" [disabled]="swService.loading">Personagens</button>
                <button class="btn btn-secondary btn-statistics" routerLink="/statistics" [disabled]="swService.loading">Filmes</button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>